.buttoncontainer1 {
  display: flex;
  justify-content: left;
  margin: 20px;
  gap: 10px;
}

.buttoncontainer2 {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 10px;
}

.mybutton {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.mybutton:hover {
  background-color: var(--light-blue);
}

.searchbutton {
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
.searchbutton:hover {
  border-radius: 8px;
  font-size: 20px;
}
.favoritesbutton {
  border-radius: 60%;
  font-size: 15px;
}
.favoritesbutton:hover {
  border-radius: 20%;
  font-size: 30px;
}
