.container_home {
  background-color: white;
}

.booklist {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  gap: 10px;
  color: var(--steel);
  margin: auto;
  background-color: rgb(248, 242, 233, 0, 5);
}

p {
  font-size: 20px;
  width: 500px;
  margin-top: 10px;
  padding: 10px;
}

.favorite-container {
  display: flex;
  justify-content: left;
}

.images {
  height: auto;
  width: 20%;
  margin-top: 20px;
}

.h1 {
  font-size: 38px;
  color: var(--steel);
  font-weight: bold;
  width: 30%;
  text-align: center;
  gap: 10px;
  margin: auto;
}
