.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 8px;
}
.navbar {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
  width: 100%;
}
.headerlink {
  text-decoration: none;
  color: var(--steel);
  font-size: 40px;
  margin-bottom: 20px;
  padding: 20px;
  max-height: 60px;
}
.categorylink {
  margin: 0 15px;
  text-decoration: none;
  color: var(--blue);
  font-size: 24px;
  margin-bottom: 20px;
}
.categorylink:visited {
  color: var(--light-blue);
}
.categorylink:hover {
  color: var(--steel);
}
button {
  margin-left: 20px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: var(--light-blue);
}
button:focus {
  outline: 2px solid var(--steel);
}
input {
  margin-top: 20px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--steel);
  border-radius: 4px;
  width: 400px;
}
input:focus {
  outline: 2px solid var(--steel);
}
.header {
  padding: 10px;
  text-align: center;
  font-size: 30px;
  max-width: 200svw;
}
