.footer {
  color: var(--steel);
  background-color: white;
  font-family: "Open Sans", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 10px;
}

h4 {
  font-size: 20px;
  margin-top: 25px;
  cursor: pointer;
  text-align: right;
}
